---
layout: default
title: About Me
---
:markdown
  # About Me

  I build scalable, fault-tolerant, distributed systems.

  I helped found and still hack at [Librato](http://librato.com).

  I live in San Francisco with my wife [Jory](http://joryzr.posterous.com/) and our cats.

  In my spare time I enjoy running, snowboarding, and home-brewing.
